<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="UI-APPENDER" class="com.songbook.logback.EventAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>=> [%level] - %msg%n%xEx{-1}</pattern>
        </layout>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="UI-APPENDER"/>
    </root>
</configuration>