body {
    font-size: 10px;
    background-color: white;
}

.titleNode {
    font-size: 120%;
    font-weight: bold;
}

.verse {
    padding-top: 15px;
}

.line {
    padding-top: 5px;
}

.chord {
    color: red;
    font-weight: bold;
    vertical-align: super;
}

.invchord {
    color: blue;
    font-weight: bold;
    vertical-align: super;
}