<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.songbook.android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />

    <!-- Required so that we can download songbooks from internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher_songbook"
                 android:debuggable="true">

        <activity android:name=".activity.SongListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SongViewActivity"
                  android:label="@string/title.songViewActivity" />
        
        <activity android:name=".activity.PreferencesActivity"
                  android:label="@string/title.preferencesActivity" />
    </application>
</manifest>